body {
    height: 100%;
    overflow: hidden;
}

#appContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transform-origin: top;
}

iframe {
    border: solid black 2px;
}

iframe#watchSurface {
    border-radius: 50%;
}