body {
    height: 100%;
    overflow: hidden;
    background-color: black;
}

#debug {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}

#appContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transform-origin: center;
}

iframe {
    border: solid black 2px;
}

iframe#WATCH-surface {
    border-radius: 50%;
}